@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
}

footer {
  margin-top: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fs-7 {
  font-size: 0.8rem !important;
}

a.trakkr-nav-link {
  color: #1C82AD;
}

a.trakkr-nav-link:hover, 
a.trakkr-nav-link:focus, 
a.trakkr-nav-link:active {
  color: #03C988;
}

#home, 
#mempool, 
#lightning, 
#lightning-acdn {
  background-color: #13005A;
}



#btc-price-header {
  background-color: #03C988;
  color: $gray-900;
}

#btc-price-display {
  box-shadow: 0.1em 0.1em 1em #03C988;
}

/* .mempool-card:hover {
  translate: 0 -5% 2rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: inset 0 -1em 1em #181818, 0 0 0 2px #82848279,
    0.1em 0.1em 1em #03C988;
} */

.mempool-blk-id:hover {
  translate: 0 -5% 2rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  box-shadow: inset 0 -1em 1em #272727d5,
    0.1em 0.1em 1em #1C82AD !important;
}

#mempool-pg-nav-wrap, 
.mempool-data-container {
  box-shadow: 0.1em 0.1em 0.5em #03C988;
}

.mempool-txn-data-hdr, 
.mempool-fee-header, 
.mempool-data-table-hdr, 
.extras-list-hdr,
.mempool-pg-nav-link,
.mempool-block-crsl-item-hdr {
  color: #03C988;
}

#mempool-pg-nav-wrap>ol {
  margin-bottom: 0 !important;
}

.mempool-bcrmb>a {
  text-decoration: none;
}

.mempool-data-header {
  background-color: #1C82AD;
  color: $gray-900;
}

.mempool-block-id-hdr {
  background-color: #03C988;
  color: $gray-900;
}





/* .lightning-network-nav-link, .lightning-24h-card {
  background-color: $purple-500;
} */
#lightning {
  flex-grow: 1;
}
.lightning-card, 
.lightning-hdr, 
.lightning-hdr>button {
  background-color: #1C82AD;
}

.lightning-hdr, 
.lightning-hdr>button {
  color: $gray-900;
  font-weight: 600;
}

.lightning-hdr>button {
  font-size: calc(1.275rem + 0.3vw) !important;
}

.lightning-hdr>button:not(.collapsed), 
.lightning-tgl-btn:hover, 
input[type="radio"]:checked+label {
  background-color: #03C988 !important;
  color: #00337C !important;
  /* text-shadow: 0.1em 0.1em 1em yellow; */
}

input[type="radio"]:checked+label {
  font-weight: bold;
}

/* input[type="radio"]:not(:checked)+label {
  background-color: #1C82AD;
} */

#lightning-card {
  box-shadow: inset 0 -1em 1em #adadad, 0 0 0 2px #82848279,
    0.1em 0.1em 1em yellow;
}

.lightning-card-hdr {
  box-shadow: 0.1em 0.1em 1em #03C988;
  /* border: 1px solid #03C988 !important; */
}

.lightning-card-hdr>.lightning-id-label {
  color: #03C988;
}

.lightning-node-count-ctnr {
  height: 125px !important;
  width: 125px !important;
  border-radius: 50% !important;
}

.lightning-tgl-btn {
  border-color: #1C82AD;
  color: #1C82AD;
}

/* .lightning-3d-stat-bg {
  background-color: #00337C !important;
  border: 1px solid #1C82AD !important;
} */

/* 
<=== Example of how to use animations w/ @keyframes ===>

.sample-hilite-class {
  animation-name: hilite;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes hilite {
  from {
    box-shadow: none;
  }

  to {
    box-shadow:
    inset 0 -3em 3em green,
    0 0 0 2px blue,
    0.3em 0.3em 1em orange;
  }
}


.sample-keepBouncing-class {
  animation-name: keepBouncing;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
}

@keyframes keepBouncing {

  100% {
    transform: translateY(-5%);
  }
}
*/
