@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

* {
    margin:0; 
    padding:0;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.fs-7 {
    font-size: 0.8rem !important;
}
  
#btc-price-header {
    background-color: $orange-500;
    color: black;
}
  
.mempool-card:hover {
    translate: 0 -5% 2rem;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    box-shadow:
      inset 0 -1em 1em #181818,
      0 0 0 2px #82848279,
      0.1em 0.1em 1em orange;
}
  
.mempool-data-container {
    box-shadow: 0.1em 0.1em 1em cyan;;
}
  
.mempool-data-header {
    color:#04090b
}

#mempool {
    background-color: $indigo-900;
}

/* 
<=== Example of how to use animations w/ @keyframes ===>

.sample-hilite-class {
  animation-name: hilite;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes hilite {
  from {
    box-shadow: none;
  }

  to {
    box-shadow:
    inset 0 -3em 3em green,
    0 0 0 2px blue,
    0.3em 0.3em 1em orange;
  }
}


.sample-keepBouncing-class {
  animation-name: keepBouncing;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
}

@keyframes keepBouncing {

  100% {
    transform: translateY(-5%);
  }
}
*/